<div class="comment-box">
  <div class="rated" data-score="<%= comment.rating %>"></div>
  <p><%= comment.body %></p>
  <%= comment.user.first_name%> <small><em><%= "#{time_ago_in_words(comment.created_at )} ago" %> </em></small>
    <% if current_user && current_user.try(:admin?) %>
      <%= link_to ('<span class="glyphicon glyphicon-trash"></span').html_safe, product_comment_path(comment.product, comment), method: :delete, data: {confirm: "Delete Review?"} %>
    <% end %>

</div>

